.checkbox {
  --offImage: url(../images/ico_check_off.svg);
  --onImage: url(../images/ico_check_on.svg);
  --fontSize: 15px;
  --beforeColor: gray;
  --afterColor:#0000EA;
  --pl: 3rem;
  --height: 24px;

  display: inline-flex;
  align-items: center;

  input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    &:checked {
      + label {
        color: var(--afterColor);
        background: var(--onImage) no-repeat left;
      }
    }
    &:focus {
      + label {
        outline: 2px solid #000;
        border-radius: 2px;
      }
    }
    &:disabled {
      + label {
        opacity: 0.2;
      }
    }
  }
  label {
    padding-left: var(--pl);
    background: var(--offImage) no-repeat left;
    font-size: var(--fontSize);
    color: var(--beforeColor);
    height: var(--height);
    align-content: center;
  }
}
