.floating-label {
  position: relative;
  font-size: 16px;
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--gray700);
    font-size: 16px;
    box-sizing: border-box;
  }
  label {
    position: absolute;
    left: 10px;
    top: 10px;
    transition: 0.3s ease-out;
    color: var(--gray600);
    background-color: white;
  }
  input:focus + label,
  input:not(:placeholder-shown) + label {
    top: -10px;
    font-size: 12px;
    color: var(--blue400);
    padding: 4px 10px;
  }
}
