.select {
  --height: 45px;
  --pl: 11.74px;
  --pr: 74.78px;
  --rounded: 8px;
  /* --borderColor: silver; */
  --arrowImage: url(../images/ico_select1.svg);
  --bgColor:var(--gray300);
  --fontSize: 1.6rem;
  --fontColor: var(--gray700);
  height: var(--height);
  padding-inline: var(--pl) var(--pr);
  border-radius: var(--rounded);
  /* border: 1px solid var(--borderColor); */
  background: var(--arrowImage) no-repeat right var(--pl) center var(--bgColor);
  color: var(--fontColor);
  font-size: var(--fontSize);
  appearance: none;
}
