.text-field {
  --paddingX: 1rem;
  --width: auto;
  --height: 4rem;
  /* --borderColor: var(--gray300);  */
  --bgColor:var(--gray300);
  --rounded: 0.8rem;
  --fontSize: 1.6rem;
  --color: var(--gray600);
  --placeholderColor: var(--gray600);
  --disabledColor: var(--gray200);

  padding-inline: var(--paddingX);
  padding-block: var(--paddingY, 0);
  width: var(--width);
  height: var(--height);
  /* border: 1px solid var(--borderColor); */
  background: var(--bgColor);
  border-radius: var(--rounded);
  box-sizing: border-box;
  color: var(--color);
  font-size: var(--fontSize);
  &::placeholder {
    color: var(--placeholderColor);
  }
  &:disabled {
    background-color: var(--disabledColor);
  }
  &.error {
    border: 1px solid var(--danger);
    color: var(--danger);
  }
}
textarea {
  &.text-field {
    --width: 100%;
    --height: 10rem;
    --paddingY: 1rem;
  }
}
