/* -------------------------------------------------------------------------- */
/*                                    전역CSS                                 */
/* -------------------------------------------------------------------------- */
:root {
  --baseFontSize: 1.7rem;

  --white: #ffffff;
  --black: #000; 

  --gray900: #14142B;
  --gray800: #222;
  --gray700: #333;
  --gray650: #4E4B66;
  --gray600: #555;
  --gray500: #888;
  --gray400: #DCDCDC;
  --gray300: #F0F0F0;
  --gray200: #F8F8F8;
  --gray100: #FCFCFC;

  /* --red900: #2e0507;
  --red800: #5c0a0f;
  --red700: #8b0e16;
  --red600: #b9131e; */
  --red500: #FE3F61;
  /* --red400: #ec4651;
  --red300: #f1747c;
  --red200: #f5a3a8;
  --red100: #fbd6d8; */
  
    /* --orange900: #4d370b;
  --orange800: #66490e;
  --orange700: #98690a;
  --orange600: #ffb724; */
  --orange500: #FF6711;
  /* --orange400: #ffd47c;
  --orange300: #ffe2a7;
  --orange200: #ffeac1;
  --orange100: #fff8e9; */

  /* --yellow900: #4d370b;
  --yellow800: #66490e;
  --yellow700: #98690a;
  --yellow600: #ffb724; */
  --yellow500: #FFB802;
  /* --yellow400: #ffd47c;
  --yellow300: #ffe2a7;
  --yellow200: #ffeac1;
  --yellow100: #fff8e9; */

  /* --green900: #00370c;
  --green800: #005312;
  --green700: #006e18;
  --green600: #008a1e; */
  --green500: #009846;
  /* --green400: #8cca99;
  --green300: #b2dcbb;
  --green200: #cee9d4;
  --green100: #eef7f0; */

  /* --blue900: #07152f; */
  --blue800: #002EF1;
  /* --blue700: #16408d;
  --blue600: #1d56bc; */
  --blue500: #0000EA; 
  /* --blue400: #5089ef;*/
  --blue300: #D9DBE9; 
  /* --blue200: #a7c4f7;
  --blue100: #d3e1fb; */

  --primary: var(--blue500);
  --secondary: var(--gray900);
  --danger: var(--red500);
  --success: var(--green500);
  

  --font-xs: 1.3rem;
  --font-sm: 1.4rem;
  --font-base: 1.6rem;
  --font-md: 1.8rem;
  --font-lg: 2rem;
  --font-xl: 2.4rem;
  --font-xxl: 3.3rem;

  --lh-sm: 1.2;
  --lh-base: 1.5;
  --lh-md: 1.8;

  --ls-sm: -0.02rem;
  --ls-base: 0;
  --ls-md: 0.01rem;
}
