body {
  --bg: #f2f3f6;
  --summaryColor: #000;
  --summaryActiveColor: slateblue;
  --sideWidth: 25rem;

  background-color: var(--bg);
  overflow: hidden;
  &::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    width: 5px;
    border-radius: 1000px;
    background-color: rgba(0, 0, 0, 0.08);
  }
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;
  margin-left: 0;
  transition: margin-left 0.4s;
  @media (width < 1280px) {
    margin: 0;
  }
}
h1 {
  display: grid;
  grid-template-columns: 5rem 1fr;
  margin: 2rem 0.5rem 2rem 0;
  padding-left: 0.5rem;
  background-color: #f1f4f7;
  gap: 0 1rem;
  img {
    width: 4rem;
    padding: 0.5rem;
    grid-row: 1/3;
  }
  span {
    &:first-of-type {
      align-self: end;
      font-size: 1.7rem;
    }
    &:last-of-type {
      font-size: 1.4rem;
      font-weight: 300;
      align-self: start;
    }
  }
}

.sidebar {
  interpolate-size: allow-keywords;

  display: block;
  position: fixed;
  inset: auto;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: var(--sideWidth);
  box-sizing: border-box;
  background-color: #fff;
  transition: left 0.4s allow-discrete;
  border: none;
  overflow: visible;

  nav {
    padding: 0 0.5rem 2rem 0;
    overflow: auto;
    height: calc(100vh - 12rem);
    &::-webkit-scrollbar {
      width: 5px;
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: transparent;
    }
    &:hover {
      &::-webkit-scrollbar-thumb {
        width: 5px;
        border-radius: 1000px;
        background-color: rgba(0, 0, 0, 0.08);
      }
    }
  }
  ul {
    padding-left: 1rem;
  }
  details {
    &::details-content {
      overflow: hidden;
      block-size: 0;
      transition: block-size 0.5s, content-visibility 0.5s;
      transition-behavior: allow-discrete;
    }
    &[open] {
      &::details-content {
        block-size: auto;
      }
      summary {
        background-color: var(--summaryActiveColor);
        color: #fff;
        &::after {
          background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 24 24"><g id="feArrowRight0" fill="none" fill-rule="evenodd" stroke="none" stroke-width="1"><g id="feArrowRight1" fill="white"><path id="feArrowRight2" d="m9.005 4l8 8l-8 8L7 18l6.005-6L7 6z"/></g></g></svg>') no-repeat center / contain;
          rotate: 90deg;
        }
      }
    }
    ~ details {
      margin-top: 1.5rem;
    }
  }
  summary {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 1.6rem;
    padding: 1rem;
    font-weight: 500;
    color: var(--summaryColor);
    text-transform: uppercase;
    transition: 0.4s;
    cursor: pointer;
    &::after {
      content: "";
      background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 24 24"><g id="feArrowRight0" fill="none" fill-rule="evenodd" stroke="none" stroke-width="1"><g id="feArrowRight1" fill="gray"><path id="feArrowRight2" d="m9.005 4l8 8l-8 8L7 18l6.005-6L7 6z"/></g></g></svg>') no-repeat center / contain;
      width: 1.4rem;
      aspect-ratio: 1;
      transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      rotate: 0deg;
    }
  }
  a {
    display: block;
    padding: 1rem;
    font-size: 1.8rem;
    color: #7c7f90;
    white-space: nowrap;
    line-height: 1;
    font-weight: 300;
    @media (width<1280px) {
      padding-inline: 0;
    }
    &::before {
      content: "-";
      margin-right: 1rem;
    }
    &.active {
      font-weight: 700;
      color: slateblue;
    }
  }
}

main {
  margin: 6rem 2rem 2rem;
  background-color: #fff;
  position: relative;
  text-align: center;
}
iframe {
  margin: 2rem;
  width: calc(100% - 4rem);
  height: calc(100vh - 12.3rem);
  box-sizing: border-box;
  border: none;
  transition: width 0.4s;
}

.header {
  position: absolute;
  inset: -6rem 0 auto;
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 1fr min-content min-content;
  align-items: center;
  gap: 1rem;
}
.toggle {
  justify-self: start;
  transition: 0.4s;
  background-color: #fff;
  svg {
    width: 3.5rem;
  }
}
.blank {
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-size: 1.6rem;
  line-height: 1;
  gap: 0.5rem;
  &::after {
    content: "";
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 32 32"><path fill="%23000" d="M28 4H10a2.006 2.006 0 0 0-2 2v14a2.006 2.006 0 0 0 2 2h18a2.006 2.006 0 0 0 2-2V6a2.006 2.006 0 0 0-2-2Zm0 16H10V6h18Z"/><path fill="%23000" d="M18 26H4V16h2v-2H4a2.006 2.006 0 0 0-2 2v10a2.006 2.006 0 0 0 2 2h14a2.006 2.006 0 0 0 2-2v-2h-2Z"/></svg>')
      no-repeat center / contain;
    width: 2rem;
    aspect-ratio: 1;
  }
}
.btn-mobile {
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-size: 1.6rem;
  line-height: 1;
  gap: 0.5rem;
  &::after {
    content: "";
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><rect width="16" height="22" x="4" y="1" rx="3"/><path d="M10 19h4"/></g></svg>') no-repeat center / contain;
    width: 2rem;
    aspect-ratio: 1;
  }
}

/* -------------------------------------------------------------------------- */
/*                               Sidebar Active                               */
/* -------------------------------------------------------------------------- */
body {
  /* Off */
  &:has(:not(dialog[open])) {
    .sidebar {
      left: calc(var(--sideWidth) * -1);
    }
    .toggle {
      rotate: y 180deg;
    }
  }

  /* On */
  &:has(dialog[open]) {
    .sidebar {
      left: 0;
      @media (width < 1280px) {
        z-index: 100;
        &::backdrop {
          background-color: rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(2px);
        }
      }
    }
    .wrapper {
      margin-left: var(--sideWidth);
      @media (width<1280px) {
        margin-left: 0;
      }
    }
    .toggle {
      rotate: y 0deg;
      @media (width<1280px) {
        translate: var(--sideWidth) 0;
      }
    }
  }
}
